.header{
    justify-content: space-between;
    display: flex;
    height: 300px;
    color: white;
    background-color: #1F2937;
}
.left{
    font-size: 24px;
}
.rightLinks{
    display: flex;
}

.picsHeader {
    display: flex;
}

.quote {
    display: flex;
}

.signUp{
    display: flex;
}

.footer {
    display: flex;
}